@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dot {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-100%);
  }
  40%, 100% {
    transform: translateY(0);
  }
}

.animate-dot {
  animation: dot linear infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 235, 235;
  --background-end-rgb: 235, 235, 235;
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 16, 16, 16;
  --background-end-rgb: 20, 20, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

